@model Post
@{
    Layout = "~/Views/Shared/_adminPanelLayout.cshtml";
}
<style>
    .noneDisplay {
        display: none
    }

    .postSection {
        padding: 5px;
        margin-top: 100px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.46)
    }

    .form-control {
        margin-top: 5px
    }
</style>

@section sidebar{
    <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
        <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">
            سایت پزشکی
        </a>
        <div class="d-flex justify-content-center align-self-center bottom-border pb-2">
            <img src="img/3.jpg" alt="" width="40px" height="30px" class="rounded-circle ml-2">
            <a href="#" class="text-white">سلام @User.Identity.Name</a>
        </div>
        <ul class="navbar-nav flex-column text-right mt-2">
            <li class="nav-item pl-3">
                <a asp-action="Index" asp-controller="Admin" asp-area="AdminPanel" class="nav-link text-white p-2 mb-2 current">
                    <i class="fas fa-home text-light fa-lg ml-3"></i>اضافه کردن پست
                </a>
            </li>

            <li class="nav-item pl-3">
                <a asp-action="EditPosts" asp-controller="Admin" asp-area="AdminPanel" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-file-alt text-light fa-lg ml-3"></i>تغییر دادن پست ها
                </a>
            </li>

            <li class="nav-item pl-3">
                <a asp-action="DeletePost" asp-controller="Admin" asp-area="AdminPanel" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-table text-light fa-lg ml-3"></i>حذف کردن پست ها
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="ManageComments" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>مدیریت کامنت ها
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="showContactusContents" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link ">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>پیام های تماس با ما
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="SocialNetwork" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>مدیریت شبکه های اجتماعی
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="StaticInformations" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>مدیریت هدر و فوتر
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="About" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>متن درباره ما
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="ChangePassword" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>تغییر رمز عبور
                </a>
            </li>
        </ul>
    </div>
}

<div class="row mx-0 mb-5 postSection">
    <div class="col-xl-10 col-lg-9 col-md-8 mr-auto">
        <form asp-action="Post" enctype="multipart/form-data">
            <div class="row align-items-center">
                <!-- salary table -->
                <div class="col-xl-6 col-12 mb-4 mb-xl-0 align-items-center">

                    <h3 class="text-muted text-center mb-3">اضافه کردن پست های اصلی</h3>

                    <label>لطفا بخش مورد نظر را انتخاب کنید</label>
                    <div>
                        <select name="SectionId" class="form-control">
                            <option value="0">انتخاب...</option>
                            <option value="1">بخش اول</option>
                            <option value="2">بخش دوم</option>
                            <option value="3">بخش سوم</option>
                        </select>
                    </div>
                    <label>تیتر مورد نظر را وارد کنید</label>
                    <input type="text" asp-for="@Model.Title" class="form-control" />
                    <label>متن مورد نظر را وارد کنید</label>
                    <textarea type="text" asp-for="@Model.PostText" class="form-control" rows="8"></textarea>
                    <label>لطفا زبان مورد نظر را انتخاب کنید</label>
                    <select id="lang" name="lang" class="form-control">
                        <option value="0">انتخاب...</option>
                        <option value="fa-IR">فارسی</option>
                        <option value="en-US">انگلیسی</option>
                    </select>
                    <br />
                    <label>هشتگ ها</label>
                    <input type="text" asp-for="@Model.Hashtags" class="form-control"/>
                    <br />
                    <small class="alert alert-info">هر هشتگ را با علامت "," جدا کنید</small>
                </div>
                <!-- end of salary table -->
                <!-- payments table -->
                <div class="col-xl-6 col-12">
                    <h3 class="text-muted text-center mb-3">انتخاب تصویر پست</h3>

                    <div>
                        <img src="~/images/no.image.png" id="imgUp" height="250" />
                    </div>

                    <input type="file" asp-for="@Model.PostImg" id="PostImg" />


                </div>
                <!-- end of payments table -->
            </div>
            <br />
            <input type="submit" value="ثبت" class="btn btn-success" />
        </form>
    </div>
</div>
<br />
<br />
@await Component.InvokeAsync("SubPostComponent")
<br />
<br />
@await Component.InvokeAsync("SubPostDescriptionComponent")

@section scripts{
    <script>
        $("#descriptionText").show();

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgUp').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL2(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgUp2').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL3(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgUp3').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#PostImg").change(function () {
            readURL(this);
        });

        $("#image").change(function () {
            readURL2(this);
        });

        $("#descriptionDetailImage").change(function () {
            readURL3(this);
        });

        $("#PostId").change(function () {
            $("#SubPosts").empty();
            $("#detailsOfSubPosts").show();
            $.getJSON("/AdminPanel/Admin/getSubPostWithSectionId/" + $("#PostId :selected").val(),
                function (data) {
                    console.log(data)
                    $.each(data,
                        function () {
                            $("#SubPosts").append('<option value=' + this.value + '>' + this.text + '</option>');
                            $("#TextResumen").attr("placeholder", data.textResumen);
                            $("#imgUp2").attr("src", data.imageName);
                        });
                });
        });


        $("#SubPosts").change(function () {
            alert("details")
            $("#SubPostsText").attr("placeholder", "");
            $("#TextResumen").attr("placeholder", "");
            $("#imgUp2").attr("src", "/images/no.image.png");
            $.getJSON("/AdminPanel/Admin/getSubPost/" + $("#SubPosts :selected").val(),
                function (data) {
                    console.log(data)
                    $.each(data,
                        function () {
                            $("#SubPostsText").attr("placeholder", this.title);
                            $("#TextResumen").attr("placeholder", this.textResumen);
                            $("#imgUp2").attr("src", data.imageName);
                        });
                });
        });
    </script>
}
