@model List<Fardin.DataLayer.Entites.ContactUs>

@{
    Layout = "~/Views/Shared/_adminPanelLayout.cshtml";
}

@section sidebar{
    <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
        <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">
            سایت پزشکی
        </a>
        <div class="d-flex justify-content-center align-self-center bottom-border pb-2">
            <img src="img/3.jpg" alt="" width="40px" height="30px" class="rounded-circle ml-2">
            <a href="#" class="text-white">سلام @User.Identity.Name</a>
        </div>
        <ul class="navbar-nav flex-column text-right mt-2">
            <li class="nav-item pl-3">
                <a asp-action="Index" asp-controller="Admin" asp-area="AdminPanel" class="nav-link text-white p-2 mb-2 ">
                    <i class="fas fa-home text-light fa-lg ml-3"></i>اضافه کردن پست
                </a>
            </li>

            <li class="nav-item pl-3">
                <a asp-action="EditPosts" asp-controller="Admin" asp-area="AdminPanel" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-file-alt text-light fa-lg ml-3"></i>تغییر دادن پست ها
                </a>
            </li>

            <li class="nav-item pl-3">
                <a asp-action="DeletePost" asp-controller="Admin" asp-area="AdminPanel" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-table text-light fa-lg ml-3"></i>حذف کردن پست ها
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="ManageComments" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link ">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>مدیریت کامنت ها
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="showContactusContents" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link current">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>پیام های تماس با ما
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="SocialNetwork" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>مدیریت شبکه های اجتماعی
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="StaticInformations" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>مدیریت هدر و فوتر
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="About" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>متن درباره ما
                </a>
            </li>
            <li class="nav-item pl-3">
                <a asp-action="ChangePassword" asp-controller="Admin" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>تغییر رمز عبور
                </a>
            </li>
        </ul>
    </div>
}

<div class="container" style="margin-top: 50px">
    <div class="row mx-0 mb-5 postSection">
        <div class="col-xl-10 col-lg-9 col-md-8 mr-auto">
            @if (ViewBag.isSuccess != null)
            {
                <p class="alert alert-success">عملیات با موفقیت انجام شد</p>
            }
            <table class="table table-bordered">
                <tr>
                    <th>متن کامنت</th>
                    <th>حذف کامنت</th>
                </tr>

                @foreach (var contact in Model)
                {
                    <tr>
                        <td>
                            <small class="font-italic font-weight-lighter">
                                نام کاربر: @contact.FullName
                                <br />
                                تاریخ دقیق: @contact.Date
                                <br />
                                ایمیل: @contact.Email
                                <br />
                                شماره تلفن : @(contact.PhoneNumber != null? contact.PhoneNumber : "شماره ای ثبت نشده")
                            </small>
                            <br />
                            <p> @contact.Text</p>
                           
                        </td>
                        <td>
                            <a href="/AdminPanel/Admin/DeleteContact/@contact.ContactUsId" class="btn btn-danger">حذف کامنت</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
