@using Fardin.DataLayer.Entites
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<Fardin.DataLayer.Entites.Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    SiteStatic siteStatic = ViewBag.siteStatic as SiteStatic;
}
<style>
    .active {
        background-color: rgba(105, 104, 104, 0.50);
    }

    .content {
        padding-left: 5%;
        padding-right: 5%
    }

    .card {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 10px
    }

        .card img {
            border-radius: 5px
        }

    .card-title {
        margin-top: 10px;
        font-weight: bold
    }

    .post-btn {
        color: white !important
    }

    .hashtag {
        color: black
    }

    .hashtags {
        color: blue;
        cursor: pointer
    }
</style>

@await Component.InvokeAsync("SocialNetworksComponent")

<div id="wrapper">

    <!-- Sidebar-wrapper -->
    <!-- End Sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" style="background-color: #dcdada !important">

        @if (siteStatic != null)
        {
            <div id="home" class="parallax first-section" style="background-image:url(@(siteStatic.CoverImageName == null ? "myImages/michael-browning-D0ov97Td-xM-unsplash.jpg" : "myImages/" + siteStatic.CoverImageName));">
                <div class="container-fluid">
                    <div class="row">
                        @if (Model.Count() == 1 && Model.First().SectionId == 1)
                        {
                            <div class="col-md-4 content"></div>
                            <div class="col-md-4 content">
                                <div class="card" style="width: 100%;">
                                    <img class="card-img-top img-responsive" width="400" src="~/posts/image/@Model.First().PostImg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Model.First().Title</h5>
                                        <p class="card-text hashtag">
                                            @if (Model.ToArray()[1].Hashtags != null && Model.ToArray()[1].Hashtags.Contains(','))
                                            {
                                                foreach (var hashtag in Model.ToArray()[1].Hashtags.Split(","))
                                                {
                                                    <span class="hashtags">#@hashtag</span>
                                                }
                                            }

                                        </p>
                                        <br />
                                        <a href="/view/@Model.First().PostId" class="btn btn-primary post-btn">See more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 content"></div>
                        }
                        @if (Model.Where(p => p.SectionId == 1).Count() == 2)
                        {
                            <div class="col-md-6 content">
                                <div class="card" style="width: 100%;">
                                    <img class="card-img-top img-responsive" src="~/posts/image/@Model.ToArray()[0].PostImg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Model.ToArray()[0].Title</h5>
                                        <p class="card-text hashtag">
                                            @if (Model.ToArray()[0].Hashtags != null && Model.ToArray()[0].Hashtags.Contains(','))
                                            {
                                                foreach (var hashtag in Model.ToArray()[0].Hashtags.Split(","))
                                                {
                                                    <span class="hashtags">#@hashtag</span>
                                                }
                                            }
                                        </p>
                                        <br />
                                        <a href="/view/@Model.ToArray()[0].PostId" class="btn btn-primary post-btn">See more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 content">
                                <div class="card" style="width: 100%;">
                                    <img class="card-img-top img-responsive" src="~/posts/image/@Model.ToArray()[1].PostImg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Model.ToArray()[1].Title</h5>
                                        <p class="card-text hashtag">
                                            @if (Model.ToArray()[1].Hashtags != null && Model.ToArray()[1].Hashtags.Contains(','))
                                            {
                                                foreach (var hashtag in Model.ToArray()[1].Hashtags.Trim().Split(","))
                                                {
                                                    <span class="hashtags">#@hashtag</span> @:&nbsp;
                                                }
                                            }

                                        </p>
                                        <br />
                                        <a href="/view/@Model.ToArray()[1].PostId" class="btn btn-primary post-btn">See more</a>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.Where(p => p.SectionId == 1).Count() > 2)
                        {
                            foreach (var post in Model.TakeLast(3))
                            {
                                <div class="col-md-4 content">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top img-responsive" src="~/posts/image/@post.PostImg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">@post.Title</h5>
                                            <p class="card-text hashtag">
                                                @if (post.Hashtags != null && post.Hashtags.Contains(','))
                                                {
                                                    foreach (var hashtag in post.Hashtags.Trim().Split(","))
                                                    {
                                                        <span class="hashtags">#@hashtag</span>
                                                    }
                                                }

                                            </p>
                                            <br />
                                            <a href="/view/@post.PostId" class="btn btn-primary post-btn">See more</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                        <!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end section -->
        }



        <div class="section wb" style="padding: 0px !important;text-align: center">
            <div class="container-fluid" style="background-color: #dcdada !important; padding: 20px">
                <div class="row text-center">
                    @if (Model != null)
                    {
                        @foreach (var post in Model.Where(p => p.SectionId == 2))
                        {
                            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn">
                                <a href="/view/@post.PostId">
                                    <div class="service-widget post">
                                        <div class="post-media ">

                                            @if (post.PostImg != null)
                                            {
                                                <img src="~/posts/image/@post.PostImg" width="400px" /><br />

                                            }
                                            else
                                            {
                                                <img src="~/images/no.image.png" width="400px" />
                                            }
                                        </div>
                                        <h3>@post.Title</h3>
                                        <p>@post.PostText</p>
                                    </div><!-- end service -->
                                </a>
                            </div>
                        }
                    }
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->


        <div id="barbers" class="section lb">
            <div class="container-fluid">
                <div class="section-title row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <small>MEET OUR DOCTORS TEAM</small>
                        <h3>@Localizer["testTitle"]</h3>
                        <hr class="grd1">
                        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
                    </div>
                </div><!-- end title -->

                <div class="row dev-list text-center">
                    @foreach (var post in Model.Where(p => p.SectionId == 3))
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                            <a href="/view/@post.PostId">
                                <div class="widget clearfix post">
                                    <div class="hover-br">
                                        @if (post.PostImg != null)
                                        {
                                            <img src="~/posts/image/@post.PostImg" class="img-responsive" /><br />

                                        }
                                        else
                                        {
                                            <img src="~/images/no.image.png" class="img-responsive" />
                                        }

                                    </div>
                                    <div class="widget-title">
                                        <h3>@post.Title</h3>
                                    </div>
                                    <!-- end title -->
                                    <p>@post.PostText</p>
                                </div><!--widget -->
                            </a>
                        </div><!-- end col -->
                    }
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <div id="testimonials" class="parallax section db parallax-off" style="background-image:url(@(siteStatic == null || siteStatic.FooterImageName == null ? "myImages/michael-browning-D0ov97Td-xM-unsplash.jpg" : "myImages/" + siteStatic.FooterImageName));">
            <div class="container-fluid">
                <div class="section-title row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <small>@(siteStatic != null? siteStatic.MiniTitle: "")</small>
                        <h3>@(siteStatic != null? siteStatic.Title :"")</h3>
                        <hr class="grd1">
                        <p class="lead">@(siteStatic != null? siteStatic.Text:"")</p>
                    </div>
                </div><!-- end title -->

            </div><!-- end container -->
        </div><!-- end section -->

        <div class="copyrights">
            <div class="container-fluid">
                <div class="footer-distributed">
                    <div class="footer-left">
                        <p class="footer-links">
                            <a href="/">Home</a>
                            <a href="/aboutus">About</a>
                            <a href="/contact-us">Contact</a>
                        </p>
                        <p class="footer-company-name">All Rights Reserved. &copy; 2020 | Design By : <a href="#">ARASH NP</a></p>
                    </div>

                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div>

</div>



