@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>SMBarber - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">

    <!-- Site CSS -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="~/css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="~/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <link rel="stylesheet" href="~/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/customCss/custom-css.css">
    <style>
        .logo {
            left: 10px !important
        }
    </style>
</head>
<body>
    <!-- mobile navbar -->
    <div id="mobilenav" class="outer-menu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/">@Localizer["Home"]</a></li>
                        <li><a href="/contact-us">@Localizer["ContactUs"]</a></li>
                        <li><a href="/Comments">@Localizer["Comments"]</a></li>
                        <li><a href="/aboutus">@Localizer["About"]</a></li>
                        <li><a href="/Home/ChangeLanguage?culture=fa-IR">Farsi</a></li>
                        <li><a href="/Home/ChangeLanguage?culture=en-US">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!----------------->
    <!--desktop navbar-->
    <section id="desktopnav">
        <nav class="stroke">
            <ul>
                <li class="pull-left"><span>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/logo/logo-blue.jpeg" class="logo" width="70" /></span></li>
                <li><a href="/">@Localizer["Home"]</a></li>
                <li><a href="/contact-us">@Localizer["ContactUs"]</a></li>
                <li><a href="/Comments">@Localizer["Comments"]</a></li>
                <li><a href="/aboutus">@Localizer["About"]</a></li>
                <li><a href="/Home/ChangeLanguage?culture=fa-IR">Farsi</a></li>
                <li><a href="/Home/ChangeLanguage?culture=en-US">English</a></li>
            </ul>
        </nav>
    </section>
    <!----------------->
    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
            <div class="cube-folding">
                <span class="leaf1"></span>
                <span class="leaf2"></span>
                <span class="leaf3"></span>
                <span class="leaf4"></span>
            </div>
            <span class="loading" data-name="Loading">Loading</span>
        </div>
    </div><!-- end loader -->
    <div>
        @RenderBody()
    </div><!-- END LOADER -->
    <!-- end wrapper -->

    <a href="#" id="scroll-to-top" style="padding-top: 5px" class="dmtop"><i class="fa">^</i></a>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="~/js/bootstrap.min.js"></script>

    <!-- ALL JS FILES -->
    <script src="~/js/all.js"></script>
    <script src="~/js/responsive-tabs.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/slick.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $(document).ready(function () {

            $("div.carousel-inner div:first-child").addClass("active");
            
            $("ol.carousel-indicators li:first-child").addClass("active");


            $('.img-responsive').slick({
                centerMode: true,
                centerPadding: '60px',
                slidesToShow: 3,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    }
                ]
            });


    </script>

</body>
</html>
